.homeBtn {
  display: inline-block;
  width: auto;
  align-self: center;
  padding: 12px 22px;
  background: var(--azul-arroxeado);
  color: var(--branco-fantasma);
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--fonte-principal);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.homeBtn:hover {
  background: var(--azul-turquesa);
  transform: scale(1.05);
}
